@model TravelHub.Web.ViewModels.Activities.ActivityDetailsViewModel

@{
    ViewData["Title"] = "Activity Details";
}

<h1>Activity Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration) hours
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TripName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TripName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DayName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DayName)
        </dd>

        <dt class="col-sm-2">
            Type
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-controller="Trips" asp-action="Details" asp-route-id="@Model.TripId" class="btn btn-secondary">Back to trip</a>
</div>